{{ form_start(form) }}
    {{ form_row(form.NomService, {attr:{'class':'form-control'}}) }}
{#    {{ form_row(form.serviceHopitals, {attr:{'class':'form-control'}}) }}#}
    <button class="btn btn-primary">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
