{% extends 'baseAdmin.html.twig' %}

{% block title %}New MedecinServiceHopital{% endblock %}

{% block body %}
    <h1>Create new MedecinServiceHopital</h1>

    <form class="form-sample" method="post">

        <div class="row">
            <div class="col-md-4">
                <div class="form-group row">
                    <label class="col-sm-3 col-form-label">Hopital</label>
                    <input type="hidden" value="{{ csrf_token('csrf_token') }}" name="csrf_token">
                    <div class="col-sm-9">
                        <select name="medecinID" class="form-control" id="">
                            {% for doctor in medecins %}
                                <option value="{{ doctor.id }}">{{ doctor.Person.nomPostnom | upper ~" | " ~ doctor.matricule | upper }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group row">
                    <label class="col-sm-3 col-form-label">Service</label>
                    <div class="col-sm-9">
                        <select name="serviceHopID" class="form-control" id="">
                            {% for service in servicehops %}
                                <option value="{{ service.id }}">{{ service.Service.nomService | capitalize ~ " | "~ service.Hopital.nomHopital }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group row">
                    <input type="submit" class="btn btn-primary btn-sm" value="Enregistrer">
                </div>
            </div>
        </div>

    </form>
    <a href="{{ path('medecin_service_hopital_index') }}">back to list</a>
{% endblock %}
