{% extends 'base.html.twig' %}

{% block title %}MedecinServiceHopital{% endblock %}

{% block body %}
    <h1>MedecinServiceHopital</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ medecin_service_hopital.id }}</td>
            </tr>
            <tr>
                <th>CreatedAt</th>
                <td>{{ medecin_service_hopital.createdAt ? medecin_service_hopital.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>CreateBy</th>
                <td>{{ medecin_service_hopital.createBy }}</td>
            </tr>
            <tr>
                <th>Status</th>
                <td>{{ medecin_service_hopital.status }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('medecin_service_hopital_index') }}">back to list</a>

    <a href="{{ path('medecin_service_hopital_edit', {'id': medecin_service_hopital.id}) }}">edit</a>

    {{ include('medecin_service_hopital/_delete_form.html.twig') }}
{% endblock %}
