{% extends 'baseAdmin.html.twig' %}

{% block title %}New Discussion{% endblock %}

{% block body %}
    <style>
        body{
            background-color: #f4f7f6;
            margin-top:20px;
        }
        .card {
            background: #fff;
            transition: .5s;
            border: 0;
            margin-bottom: 30px;
            border-radius: .55rem;
            position: relative;
            width: 100%;
            box-shadow: 0 1px 2px 0 rgb(0 0 0 / 10%);
        }
        .chat-app .people-list {
            width: 280px;
            position: absolute;
            left: 0;
            top: 0;
            padding: 20px;
            z-index: 7
        }

        .chat-app .chat {
            margin-left: 280px;
            border-left: 1px solid #eaeaea
        }

        .people-list {
            -moz-transition: .5s;
            -o-transition: .5s;
            -webkit-transition: .5s;
            transition: .5s
        }

        .people-list .chat-list li {
            padding: 10px 15px;
            list-style: none;
            border-radius: 3px
        }

        .people-list .chat-list li:hover {
            background: #efefef;
            cursor: pointer
        }

        .people-list .chat-list li.active {
            background: #efefef
        }

        .people-list .chat-list li .name {
            font-size: 15px
        }

        .people-list .chat-list img {
            width: 45px;
            border-radius: 50%
        }

        .people-list img {
            float: left;
            border-radius: 50%
        }

        .people-list .about {
            float: left;
            padding-left: 8px
        }

        .people-list .status {
            color: #999;
            font-size: 13px
        }

        .chat .chat-header {
            padding: 15px 20px;
            border-bottom: 2px solid #f4f7f6
        }

        .chat .chat-header img {
            float: left;
            border-radius: 40px;
            width: 40px
        }

        .chat .chat-header .chat-about {
            float: left;
            padding-left: 10px
        }

        .chat .chat-history {
            padding: 20px;
            border-bottom: 2px solid #fff
        }

        .chat .chat-history ul {
            padding: 0
        }

        .chat .chat-history ul li {
            list-style: none;
            margin-bottom: 30px
        }

        .chat .chat-history ul li:last-child {
            margin-bottom: 0px
        }

        .chat .chat-history .message-data {
            margin-bottom: 15px
        }

        .chat .chat-history .message-data img {
            border-radius: 40px;
            width: 40px
        }

        .chat .chat-history .message-data-time {
            color: #434651;
            padding-left: 6px
        }

        .chat .chat-history .message {
            color: #444;
            padding: 18px 20px;
            line-height: 26px;
            font-size: 16px;
            border-radius: 7px;
            display: inline-block;
            position: relative
        }

        .chat .chat-history .message:after {
            bottom: 100%;
            left: 7%;
            border: solid transparent;
            content: " ";
            height: 0;
            width: 0;
            position: absolute;
            pointer-events: none;
            border-bottom-color: #fff;
            border-width: 10px;
            margin-left: -10px
        }

        .chat .chat-history .my-message {
            background: #efefef
        }

        .chat .chat-history .my-message:after {
            bottom: 100%;
            left: 30px;
            border: solid transparent;
            content: " ";
            height: 0;
            width: 0;
            position: absolute;
            pointer-events: none;
            border-bottom-color: #efefef;
            border-width: 10px;
            margin-left: -10px
        }

        .chat .chat-history .other-message {
            background: #e8f1f3;
            text-align: right
        }

        .chat .chat-history .other-message:after {
            border-bottom-color: #e8f1f3;
            left: 93%
        }

        .chat .chat-message {
            padding: 20px
        }

        .online,
        .offline,
        .me {
            margin-right: 2px;
            font-size: 8px;
            vertical-align: middle
        }

        .online {
            color: #86c541
        }

        .offline {
            color: #e47297
        }

        .me {
            color: #1d8ecd
        }

        .float-right {
            float: right
        }

        .clearfix:after {
            visibility: hidden;
            display: block;
            font-size: 0;
            content: " ";
            clear: both;
            height: 0
        }

        @media only screen and (max-width: 767px) {
            .chat-app .people-list {
                height: 465px;
                width: 100%;
                overflow-x: auto;
                background: #fff;
                left: -400px;
                display: none
            }
            .chat-app .people-list.open {
                left: 0
            }
            .chat-app .chat {
                margin: 0
            }
            .chat-app .chat .chat-header {
                border-radius: 0.55rem 0.55rem 0 0
            }
            .chat-app .chat-history {
                height: 300px;
                overflow-x: auto
            }
        }

        @media only screen and (min-width: 768px) and (max-width: 992px) {
            .chat-app .chat-list {
                height: 650px;
                overflow-x: auto
            }
            .chat-app .chat-history {
                height: 600px;
                overflow-x: auto
            }
        }

        @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1) {
            .chat-app .chat-list {
                height: 480px;
                overflow-x: auto
            }
            .chat-app .chat-history {
                height: calc(100vh - 350px);
                overflow-x: auto
            }
        }
    </style>
    <h1>Discussions</h1>
    <div class="row">
        <div class="col-md-4">
            <div class="card card-heading">
                <div class="card-header">
                    Ecrire un message
                </div>
                <div class="card-body">
                    <input id="choixMed" type="hidden" value="{{ choix }}">
                    <textarea class="form-control" name="msgText" id="msgText" cols="30" rows="10"></textarea>
                    <br>
{#                        <input  type="submit" class="btn btn-success float-right" value="Envoyer">#}
                    <button id="btnSend" class="btn btn-primary float-right">Envoyer</button>

                </div>
            </div>
        </div>
        <div class="col-md-8">
            <div class="card panel-primary">
                <div class="card-header"></div>
                <div class="card-body" style="height:50%; overflow: scroll">

                    <main class="content">
                        <div class="container p-0">

                            <h1 class="h3 mb-3">Messages <a href="{{ path('rendezvous_new', {'choix':choix}) }}" class="btn btn-sm btn-success">Créer Rendez-vous</a></h1>

                            <div class="card">
                                <div class="row g-0">
{#                                    <div class="col-12 col-lg-5 col-xl-3 border-right">#}

{#                                        #}


{#                                        <hr class="d-block d-lg-none mt-1 mb-0">#}
{#                                    </div>#}
                                    <div class="col-12 col-lg-7 col-xl-9 ">
                                        <div class="position-relative">
                                            <div class="chat-messages p-4">
                                            {% for discussion in discussions %}
                                                {% if(discussion.user.id == app.user.id) %}
                                                <div class="chat-message-right  pb-4">
                                                    <div>
                                                        <img src="https://bootdey.com/img/Content/avatar/avatar1.png" class="rounded-circle mr-1" alt="Chris Wood" width="40" height="40">
                                                        <div class="text-muted small text-nowrap mt-2">{{ discussion.createdAt|date('d-M-Y H:m') }}</div>
                                                    </div>
                                                    <div class="flex-shrink-1 bg-light rounded py-2 px-3 mr-3">
                                                        <div class="font-weight-bold mb-1">Vous</div>
                                                        {{ discussion.message }}
                                                    </div>
                                                </div>
                                                {% else %}
                                                <div class="chat-message-left pb-4">
                                                    <div>
                                                        <img src="https://bootdey.com/img/Content/avatar/avatar3.png" class="rounded-circle mr-1" alt="Sharon Lessman" width="40" height="40">
                                                        <div class="text-muted small text-nowrap mt-2">{{ discussion.createdAt|date('d-M-Y H:m') }}</div>
                                                    </div>
                                                    <div class="flex-shrink-1 bg-light rounded py-2 px-3 ml-3">
                                                        <div class="font-weight-bold mb-1">{{ discussion.user.username | capitalize }} </div>
                                                        {{ discussion.message }}
                                                    </div>
                                                </div>
                                                {% endif %}
                                            {% endfor %}

                                            </div>
                                        </div>

{#                                        <div class="flex-grow-0 py-3 px-4 border-top">#}
{#                                            <div class="input-group">#}
{#                                                <input type="text" class="form-control" placeholder="Type your message">#}
{#                                                <button class="btn btn-primary">Send</button>#}
{#                                            </div>#}
{#                                        </div>#}

                                    </div>
                                </div>
                            </div>
                        </div>
                    </main>


                </div>
            </div>

        </div>
    </div>
    <script src="{{ asset('assets/js/jquery.min.js') }}"></script>
    <script>
        $(document).ready(function(e){
            $("#btnSend").on("click", function(e){

                if($("#msgText").val() != ""){
                    var msgText = $("#msgText").val();
                    var user = {{ app.user.id }};
                    var choix = $("#choixMed").val()
                    $.ajax({
                        type: "POST",
                        url: "/discussion/create_discussion",
                        data: {
                            message: msgText,
                            choix: choix,
                        },
                        dataType: "json",
                        success: function(response) {
                            //console.log(response);
                            window.location.reload()
                        }
                    })
                }
            })
        })
    </script>
{#    <a href="{{ path('discussion_index') }}">back to list</a>#}
{% endblock %}
